//
   Created by paulfrohling on 06.03.15.
doctype
html
    head
        link(rel="stylesheet", href="./stylesheets/globalStyles.css")
        link(rel="stylesheet", href="./stylesheets/ignApp.css")
        script(src="./javascripts/jquery-1.11.0.js", type="text/javascript")
        script(src="./javascripts/ignfront.js" type="text/javascript")
    body(onload="IGNApp.init();")

        div(class="headerBar", id="ignHeaderBar")
            div(id="ignHeaderTextBox")
                a(class="headerText", href="/logout") Logout
            div(id="deviceIcons")
                div(id="ipadIconBox")
                    img(src="./images/ipad.png", id="iPadIcon")
                div(id="browserIconBox")
                    img(src="./images/browser.png", id="browserIcon")