//
   Created by paulfrohling on 06.03.15.
doctype
html
    head
        link(rel="stylesheet", href="./stylesheets/index.css")
        link(rel="stylesheet", href="./stylesheets/globalStyles.css")
        script(src="./javascripts/jquery-1.11.0.js" type="text/javascript")
        script(src="./javascripts/index.js", type="text/javascript")
        title Login

    body
        div(class="centered", id="backgroundImage")
            img(src="./images/BackgroundSmall.jpg")
        div( id="header")
            img(src="./images/Head.png")
        div(class="centered", id="loginBox")
            form(action="login", method="post")
                div(id="emailBox")
                    label(for="emailInput")
                    input(type="text", name="email", id="emailInput", class="inputField", spellcheck='false', placeholder="E-Mail", value="paul.froehling@me.com")

                div(id="passwordBox")
                    label(for="passwordInput")
                    input(type="password", name="password", id="passwordInput", class="inputField", spellcheck='false', placeholder="Password", value="test")

                div(id="loginBtnBox")
                    input(type="submit", value="Log In", id="loginBtn")
        p(class="centered text", id="alternative") OR
        a(href="/signup")
            div(class="centered", id="signupBtn")
                p(id="signupBtnText") Sign Up
        div(class="headerBar")
            div(class="headerTextBox")
                span()
                    a(href="/about", class ="headerText") About
                span()
                    a(href="/Impressum", class="headerText") Impressum