//
   Created by paulfrohling on 08.03.15.
doctype
html
    head
        link(rel="stylesheet", href="./stylesheets/globalStyles.css")
        link(rel="stylesheet", href="./stylesheets/signup.css")
        script(type="text/javascript", src="./javascripts/jquery-1.11.0.js")
        script(type="text/javascript", src="./javascripts/signup.js")
        title Create Account
    body(onload="signUpManager.init();")

        div(class="headerBar")
            div(id="suBackButton")
                a(href="/")
                    img(src="./images/backbutton.png")
            div(class="headerTextBox")
                span()
                    a(href="/about", class ="headerText") About
                span()
                    a(href="/Impressum", class="headerText") Impressum

        div(id="headlineBox")
            img(src="./Images/signUpHead.png")

        div(id="signupForm", class="centered")
            form(method="post", action="/createUser")
                input(type="text", name="firstname",id="firstname", class="inputField", placeholder="Firstname")
                input(type="text", name="surname", id="surname",class="inputField", placeholder="Surname")
                input(type="text", name="email", id="email", class="inputField", placeholder="E-Mail")
                input(type="password", name="password", id="password", class="inputField", placeholder="Password")
                input(type="password", name="confirmPassword", id="confirmPassword", class="inputField", placeholder="Confirm Password")

            div(id="pwValidatorMark", class="centered")

            div(id="signUpButton", class="centered")
                p(id="signUpButtonText", class="centered") Sign Up!
