body{
    background-color: #030c15;
}

.centered{
    position:absolute;
    left:50%;
}


.inputField{
    width:210px;
    height:30px;
    background-color: #030c15;
    border-color:#57989f ;
    border-style: solid;
    border-radius: 5px;
    color:white;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.headerText{
    color:#f06f6d;
    font-family: Helvetica;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.headerText:hover{
    color:#57989f;
    cursor: hand;
}

.headerBar{
    width:100%;
    height:40px;
    border-bottom:solid 1px;
    border-color:#f06f6d;
    position:fixed;
    top:0px;
    left:0px;

}

.headerTextBox{
    position: absolute;
    left:50%;
    margin-left: -80px;
    margin-top: 12px;
}