#ignHeaderBar{
    height:60px;
}

#ignHeaderTextBox{
   float:right;
    margin-top: 20px;
}

#ipadIconBox{
    position: absolute;
    top:2px;
    left:50%;
    margin-left:80px;
}

#browserIconBox{
    position: absolute;
    top:2px;
}

#deviceIcons{
    position: absolute;
    width:210px;
    left:50%;
    margin-left: -105px;
}