

.text{
    font-family: "Helvetica Neue";
    font-weight: lighter;
    color:white;
}

.inputField:focus{
    outline: 0;
}


#loginBox{
    width:210px;
    left:50%;
    top:280px;
    margin-left: -108px;
    position:absolute;
}

#alternative{
    margin-left: -12px;
    margin-top: 450px;
}

#headline{
    margin-left: -190px;
    margin-top: -270px;
}

#signupBtn{
    top:360px;
    background-color: #57989f;
    color:white;
    width:90px;
    height:30px;
    margin-top: 150px;
    margin-left: -45px;
    text-align: center;
    border-radius: 4px;
    font-family: "Helvetica Neue";
    font-weight: normal;
}

#signupBtnText{
    margin-top: 5px;
}

#backgroundImage{
    margin-left:-590px;
    margin-top:60px;

}

#header{
    position: absolute;
    top:130px;
    left:50%;
    margin-left: -265px;


}

#loginBtn{
    position:relative;
    left:60px;
    width:90px;
    height:30px;
    background-color:#57989f;
    border: none;
    border-radius: 4px;
    font-family: "Helvetica Neue";
    font-weight: normal;
    color:white;
    font-size: 18px;
}


