#signupForm{
    width:216px;
    top:240px;
    margin-left:-108px;
}


#signupBox{
    top:400px;
    margin-left:-105px;
}

#signUpHeader{
    font-family: "Helvetica Neue";
    font-weight: lighter;
    color:#57989f;
    margin-left:-45px;
    margin-top: -60px;
}

#pwValidatorMark{
    position: absolute;
    top:227px;
    width:30px;
    height:30px;
    background-color: #57989f;

    margin-left: 130px;
}

#signUpButton{
    background-color: #57989f;
    color:white;
    width:90px;
    height:30px;

    text-align: center;
    border-radius: 4px;
    font-family: "Helvetica Neue";
    font-weight:normal;
}

#signUpButtonText{
    position: absolute;
    top:-10px;
    width: 130px;
    left:-20px;

}

#headlineBox{
    position: absolute;
    top:120px;
    left:50%;
    margin-left:-177px;
}

#suBackButton{
    position: absolute;
    top:8px;
    left:13px;
}
